<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block js %}{% endblock %}
</html>
