{% extends './_base.html' %}

{% block content %}
  <p># {{ loan.id }}</p>
  <p>Document Number: {{ loan.document_number }}</p>
  <p>First Name: {{ loan.first_name }}</p>
  <p>Last name: {{ loan.last_name }}</p>
  <p>Gender: {{ loan.gender }}</p>
  <p>Email: {{ loan.email }}</p>
  <p>Amount $ {{ loan.amount }}</p>
  <p>Status: {{ loan.get_is_approved_display }}</p>
  <hr />
  <a href="{% url 'list_loans' %}">Back</a> <a href="{% url 'account_logout' %}">Logout</a>
{% endblock content %}
