{% extends './_base.html' %}

{% block content %}

  {% for loan in loan_list %}
    <h3>#{{ loan.id }} - $ {{ loan.amount }} {{ loan.last_name }}, {{ loan.first_name }}</h3>
    <a href="{% url 'detail_loan' loan.pk %}">View</a>
    <a href="{% url 'update_loan' loan.pk %}">Edit</a>
    <a href="{% url 'delete_loan' loan.pk %}">Delete</a>
  {% empty %}
    <p>There is no loans to show.</p>
  {% endfor %}

<hr />
<a href="{% url 'account_logout' %}">Logout</a>

{% endblock content %}
